# Compiled java
*.class
*.jar

# Maven
target/

# LWJRE Editor / ImGui
editorLayout.ini

# JVM Error files
hs_err_pid*

# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.settings/
.classpath
.project

# Visual Studio Code
.vscode/

# Directories
.DS_Store
.directory
