# Compiled java
*.class
*.jar

# Gradle project-specific cache directory
.gradle/
# Gradle build output directory
build/

# Gamma Editor / ImGui
editorLayout.ini

# JVM Error files
hs_err_pid*

# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.settings/
.classpath
.project

# Visual Studio Code
.vscode/

# Mac OS X
.DS_Store